/* Coolors Exported Palette - coolors.co/4aff05-e7b222-fa4210-a204e6-0673fa */

/* HSL */
$color1: hsla(103%, 100%, 51%, 1);
$color2: hsla(44%, 80%, 52%, 1);
$color3: hsla(13%, 96%, 52%, 1);
$color4: hsla(282%, 97%, 46%, 1);
$color5: hsla(213%, 96%, 50%, 1);

/* RGB */
$color1: rgba(74, 255, 5, 1);
$color2: rgba(231, 178, 34, 1);
$color3: rgba(250, 66, 16, 1);
$color4: rgba(162, 4, 230, 1);
$color5: rgba(6, 115, 250, 1);