/* Coolors Exported Palette - coolors.co/392f5a-f092dd-ffaff0-eec8e0-a8c7bb */

/* HSL */
$color1: hsla(254%, 31%, 27%, 1);
$color2: hsla(312%, 76%, 76%, 1);
$color3: hsla(311%, 100%, 84%, 1);
$color4: hsla(322%, 53%, 86%, 1);
$color5: hsla(157%, 22%, 72%, 1);

/* RGB */
$color1: rgba(57, 47, 90, 1);
$color2: rgba(240, 146, 221, 1);
$color3: rgba(255, 175, 240, 1);
$color4: rgba(238, 200, 224, 1);
$color5: rgba(168, 199, 187, 1);