/* Coolors Exported Palette - coolors.co/f9dbbd-ffa5ab-da627d-a53860-450920 */

/* HSL */
$color1: hsla(30%, 83%, 86%, 1);
$color2: hsla(356%, 100%, 82%, 1);
$color3: hsla(347%, 62%, 62%, 1);
$color4: hsla(338%, 49%, 43%, 1);
$color5: hsla(337%, 77%, 15%, 1);

/* RGB */
$color1: rgba(249, 219, 189, 1);
$color2: rgba(255, 165, 171, 1);
$color3: rgba(218, 98, 125, 1);
$color4: rgba(165, 56, 96, 1);
$color5: rgba(69, 9, 32, 1);